# Database Configuration
DB_HOST=MEHUL\SQLEXPRESS
DB_INSTANCE=MEHUL\SQLEXPRESS
DB_NAME=meena_gruhudyog
DB_DRIVER=msnodesqlv8
DB_TRUSTED_CONNECTION=true
DB_TRUST_SERVER_CERTIFICATE=true
DB_USER=sa
DB_PASSWORD=as
DB_PORT=1433

# Server Configuration
PORT=3000
NODE_ENV=development
